@import "~bootstrap/scss/bootstrap";
$corner-roundedness: 20px;
$max-app-width: 1200px;
$pagination-button-width: 3.5rem;

.App {
  text-align: center;
  vertical-align: middle;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-top: auto;
  color: white;
}

.cart-card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.user-ribbon {
  margin-bottom: 1rem;
  background-color: #282c34de;

  .ribbon-container {
    max-width: $max-app-width;
  }

  .ribbon-button {
    margin: 0.5rem 1rem 0.5rem 1rem;
    width: 8rem;
  }
}

.col-left {
  text-align: left;
  vertical-align: middle;
  margin: auto;
}

.col-right {
  text-align: right;
  vertical-align: middle;
  margin: auto;
}

.spinner-div {
  text-align: center;
}

.ProductList {
  justify-content: center;
  padding: 0px;
  border-radius: $corner-roundedness;
  max-width: $max-app-width;

  .row {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 1rem;
  }

  .ProductFilters {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.125);

    .input-wide-pagination {
      width: $pagination-button-width * 7
    }

    .input-narrow-pagination {
      width: $pagination-button-width * 5
    }

    .btn-narrow-search {
      text-transform: capitalize;
      .btn {
        width: 4rem;
      }
    }
    .btn-wide-search {
      text-transform: capitalize;
      .btn {
        width: 8rem;
      }
    }

    .page-number-text {
      font-size: calc(10px + 0.5vmin);
      color:rgba(0, 0, 0, 0.6);
      padding: 0.5rem;
      margin: auto;
      vertical-align: middle;
    }
    
    .page-buttons {
      margin: auto;

      .btn {
        width: $pagination-button-width;
      }
    }
  }
}

.btn {
  height: 3rem;
  width: 6rem;
}

.ProductCard {
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  height: 44rem;

  .btn-add-to-cart {
    width: 75%;
    height: 4rem;
  }

  img {
    width: 95%;
    height: 12rem;
    object-fit: contain;
    padding: 0.5rem;
    margin: auto;
  }

  .card-title {
    max-height: 5rem;
    overflow: hidden;
    font-size: 1.25rem;
  }

  .card-text {
    max-height: 12rem;
    overflow: auto;  
  }

  .card-header {
    text-transform: capitalize;
  }
}