@import "~bootstrap/scss/bootstrap";
$corner-roundedness: 20px;

.App {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-ribbon {
  margin-bottom: 1rem;
  background-color: #282c34da;

  #cart-button {
    text-align: right;
  }

  #user-button {
    text-align: left;
  }

  .ribbon-button {
    margin: 0.5rem;
    width: 10rem;

    
  }
}

.ProductList {
  justify-content: center;
  max-width: 80%;
  border-radius: $corner-roundedness;

  .row {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 1rem;
  }

  .ProductFilters {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.125);

    .input-group {
      text-transform: capitalize;
    }

    .page-number-text {
      font-size: calc(10px + 0.5vmin);
      color:rgba(0, 0, 0, 0.6)
    }

    ul {
      margin: 0px;
    }
  }
}

.ProductCard {
  margin: 1rem;
  justify-content: center;

  img {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    padding: 0.5rem
  }

  .card-header {
    text-transform: capitalize;
  }
}

.App-link {
  color: #61dafb;
}